.trigger {
  align-items: center;
  background: var(--dark-drimary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  min-height: 38px;
  padding: 0 12px;
  width: 100%;
}

.trigger:hover {
  border-color: var(--color-border);
}

.icon {
  color: var(--disabled-color);
  display: inline-flex;

  svg {
    height: 16px;
    width: 16px;
  }
}

.content {
  background: var(--select-menu-color);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  color: var(--color-text);
  min-width: var(--radix-select-trigger-width);
  overflow: hidden;
  z-index: 80;
}

.viewport {
  padding: 5px;
}

.item {
  align-items: center;
  border-radius: 6px;
  color: var(--disabled-color);
  display: flex;
  font-size: 13px;
  min-height: 34px;
  outline: 0;
  padding: 0 34px 0 10px;
  position: relative;
}

.item[data-highlighted] {
  background: var(--select-hover);
  color: var(--color-text);
}

.item[data-disabled] {
  cursor: not-allowed;
}

.indicator {
  align-items: center;
  color: var(--primary-accent);
  display: inline-flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 9px;
  top: 0;

  svg {
    height: 15px;
    width: 15px;
  }
}
